[submodule "rust"]
	path = rust
	url = https://github.com/Lumina00/practice-rust
[submodule "security"]
	path = security
	url = https://github.com/Lumina00/practice-security
[submodule "practice-cpp"]
	path = practice-cpp
	url = https://github.com/Lumina00/practice-cpp
